.body {
    font-family: 'Roboto', sans-serif;
}
.header {/*ente de la page*/
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.identification {
    display: flex;
}
.ul {
    list-style-type: none;
    display: flex;
}
.btn10 {
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 0px;
    padding: 0px 0.5em;
    margin-bottom: 6px;
    color: black;
}
.btn20 {
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 0px;
    padding: 0px 0.5em;
    margin-bottom: 6px;
    color: black;
}
.btn30 {
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 0px;
    padding: 0px 0.5em;
    margin-bottom: 6px;
    color: black;
}
.btn10, .btn20, .btn30 {
    display: inline-block;
    margin: 0 2%;
}
.btn10, .btn20 {
    border-right: 1px solid black;
}
.name {
    margin-right: 500px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}
.cv { /*corps de la page */
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.expérience {
    margin-left: 100px;
    margin-right: 100px;
}
.Para {
    margin-left: 100px;
    margin-right: 100px;
}
.langue {
    margin-left: 100px;
    margin-right: 100px;
}
.date {
    margin-left: 1000px;
}
hr { /*pieds de page*/
    border-bottom: 1px solid black;
    width: 90%;
}
#footer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 200px;
    bottom: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.9px;
}
.tel {
    text-decoration: none;
    color: black;
}
.email {
    color: black;
    text-decoration: none;
}
